<section class="section experience-section">
  <h2 class="section-title">Education</h2>
   <div class="section-content">
    {% for education in resume.education %}
      <section class="job-entry page-break-inside-avoid">
        <header class="job-header">
          <h1 class="company-name">{{ education.studyType }} in {{ education.area }}</h1>
          <h2 class="position-title"><a href="{{ education.url }}" target="_blank">{{ education.institution }}</a></h2>
          <span class="job-date">
              {{ education.startDate }} &ndash; {{ education.endDate }}
          </span>
        </header>
      </section>
    {% endfor %}
   </div>
</section>
